body{
    background-color: black;
}

.section{
    text-align: center;
}

h1 {
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 50px;
    margin-top: 20%;
    letter-spacing: 5px;
}

p {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    margin-top: -15px;
}

a {
    color: white;
    align-content: center;
    font-size: 12px;
    font-weight: 200;
    margin-top: -15px;
    display: flex;
    justify-content: center;
    z-index: 1000;
    text-decoration: underline;
}

a:hover{
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

.social-container {
    position: fixed;
    left: 50%;
    margin-top: 100px;
    margin-left: -75px;
    width: 150px;
    align-content: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

/* Media query */
@media screen and (min-width: 401px) and (max-width: 992px) {
    
    .section{
        text-align: center;
    }
    
    h1{
        font-family: 'Archivo', sans-serif;
        font-weight: bold;
        color: white;
        font-size: 40px;
        margin-top: 50%;
    }
    p{
        color: white;
        text-align: center;
        font-size: 25px;
        font-weight: 200;
        margin-top: -5px;
    }
}
